<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<a href="{{ path('new') }}">
    <button type="button" class="btn btn-success delete">New</button>
</a>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Action</th>

    </tr>
    </thead>
    <tbody>
    {% set tmpId = 0 %}
    {% for item in data %}
        {% set tmpId = tmpId+1 %}
        <tr>
            <td  scope="row">{{ tmpId }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.amount }}</td>

            <td>
                <a href="{{ path('edit', {'id': item.id}) }}">
                    <button type="button" class="btn btn-primary edit">Edit</button>
                </a>
                <a href="{{ path('delete', {'id': item.id}) }}">
                    <button type="button" class="btn btn-success delete">Delete</button>
                </a>
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>
